gunicorn
SpeechRecognition
asn1crypto
atomicwrites
attrs
certifi
cffi
chardet
click
codecov
coverage
cryptography
Flask
Flask-Cors
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
more-itertools
numpy
packaging
pluggy
pandas
py
pycparser
pyOpenSSL
pyparsing
PySocks
pytest
pytest-cov
requests
six
symspellpy
urllib3
wcwidth
Werkzeug
zipp
click
nltk
scikit-learn
gtts
