h1, p, input {
    font-family: 'Lato', sans-serif;
}

#speechContainer {
    margin: 20px;
}

#submitButton {
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin-top: 20px;
}

#speechText {
    font-size: 18px;
    width: 500px;
}

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
	margin-top: 20;
    background-color: #E4F9F5;
    }

  